<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>OpenBMS 开源后台管理系统</title>
    <meta name="keywords" content="OpenBMS,开源后台管理系统">
    <meta name="description" content="Open Background Management System 开源后台管理系统">
</head>
<body>
    <h1>OpenBMS</h1>
    <ul>
        <li>全称：Open Background Management System 开源后台管理系统</li>
        <li>基于：ThinkPHP5 + Layui</li>
        <li>特点：简约 + 实用</li>
    </ul>
    <a href="/admin" target="_blank">后台演示</a>
    <a href="https://github.com/chenjiacheng/openbms" target="_blank">Github</a>
    <a href="https://gitee.com/openbms/openbms" target="_blank">码云</a>
</body>
</html>
