<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>OpenBMS 开源后台管理系统</title>
    <meta name="keywords" content="OpenBMS,开源后台管理系统">
    <meta name="description" content="Open Background Management System 开源后台管理系统">
</head>
<body>
    <h1>OpenBMS</h1>
    <ul>
        <li>全称 Open Background Management System 开源后台管理系统</li>
        <li>基于 <a href="http://www.thinkphp.cn" target="_blank">ThinkPHP5</a> 和 <a href="https://www.layui.com" target="_blank">Layui</a> 的基础后台</li>
    </ul>
    <a href="http://www.openbms.cn/admin" target="_blank">演示</a>
    <a href="https://github.com/chenjiacheng/openbms" target="_blank">Github</a>
    <a href="https://gitee.com/openbms/openbms" target="_blank">码云</a>
</body>
</html>
