<div id="footer" class="footer full-width">
    <div class="background-footer"></div>
    <div class="background">
        <div class="shadow"></div>
        <div class="pattern">
            <div class="container">
                <div class="row">
                    <div id="shopify-section-footer-center-column1"
                         class="shopify-section index-section section-wrapper">
                        <style>
                            #footer-column-footer-center-column1 #social-icons-1489918249879.social-icons li {
                                font-size: 0px;
                            }

                            #footer-column-footer-center-column1 #footer-blocks-column-1489918249879.footer-blocks-wrapper .footer-block .caption {
                            }

                            #footer-column-footer-center-column1 #footer-blocks-column-1489918249879.footer-blocks-wrapper .footer-block .content {
                            }

                            #footer-column-footer-center-column1 #footer-blocks-column-1489918249879.footer-blocks-wrapper .cell1 . {
                                color: ;
                            }

                            #footer-column-footer-center-column1 #footer-blocks-column-1489918249879.footer-blocks-wrapper .cell2 . {
                                color: ;
                            }

                            #footer-column-footer-center-column1 #footer-blocks-column-1489918249879.footer-blocks-wrapper .cell3 . {
                                color: ;
                            }</style>
                        <div id="footer-column-footer-center-column1" data-_class="col-sm-3" class=""
                             data-section-id="footer-center-column1" data-section-type="footer-column-1">
                            <div class="footer-about-us footer-accordion">
                                <h4 class="title footer-accordion-heading footer-title-hide">
                                    <span>About Us</span>
                                    <i class="fa fa-plus-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" style="width: 12px;">
                                            <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" style="width: 12px;">
                                            <path d="M0 10h24v4h-24z"/>
                                        </svg>
                                    </i>
                                </h4>
                                <div class="strip-line footer-title-hide"></div>
                                <div class="footer-accordion-content"><img
                                        src="//cdn.shopify.com/s/files/1/0033/8519/6642/files/footer_logo.png?v=1552515107"
                                        alt=""/>
                                    <ul>
                                        <li>9-1415 Hunter Court <br>Kelowna, BC Canada<br>V1X 6E6<br><br>1-844-897-3387
                                            <br>Mon-Fri 9:00am-5:00pm PST <br></li>
                                        <li><br>info@cannary.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="shopify-section-footer-center-column2" class="shopify-section index-section section-wrapper">
                        <style>
                            #footer-column-footer-center-column2 .social-icons li {
                                font-size: 0px;
                            }

                            #footer-column-footer-center-column2 #footer-blocks-column-1489918333671.footer-blocks-wrapper .footer-block .caption {
                            }

                            #footer-column-footer-center-column2 #footer-blocks-column-1489918333671.footer-blocks-wrapper .footer-block .content {
                            }

                            #footer-column-footer-center-column2 #footer-blocks-column-1489918333671.footer-blocks-wrapper .cell1 . {
                                color: ;
                            }

                            #footer-column-footer-center-column2 #footer-blocks-column-1489918333671.footer-blocks-wrapper .cell2 . {
                                color: ;
                            }

                            #footer-column-footer-center-column2 #footer-blocks-column-1489918333671.footer-blocks-wrapper .cell3 . {
                                color: ;
                            }</style>
                        <div id="footer-column-footer-center-column2" data-_class="col-sm-3" class=""
                             data-section-id="footer-center-column2" data-section-type="footer-column-1">
                            <div class="linklist footer-accordion">
                                <h4 class="title footer-accordion-heading">
                                    <span>Menu</span>
                                    <i class="fa fa-plus-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" style="width: 12px;">
                                            <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" style="width: 12px;">
                                            <path d="M0 10h24v4h-24z"/>
                                        </svg>
                                    </i>
                                </h4>
                                <div class="strip-line"></div>
                                <div class="clearfix footer-accordion-content">
                                    <ul>
                                        <li><a href="/">Home </a></li>
                                        <li><a href="{:url('index/vapo/index')}">Vaporizer</a></li>
                                        <li><a href="{:url('index/ter/index')}">Terpenes</a></li>
                                        <li><a href="{:url('index/page/index')}">Packaging</a></li>
                                        <li><a href="{:url('index/acc/index')}">Accessories</a></li>
                                        <!--<li><a href="https://www.cannarycustombranding.com/">Custom-->
                                            <!--Packaging</a></li>-->
                                        <li><a href="{:url('index/pages/index')}">About Us</a></li>
                                        <li><a href="{:url('index/blog/index')}">Blog</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="shopify-section-footer-center-column3"
                         class="shopify-section index-section section-wrapper">
                        <style>
                            #footer-column-footer-center-column3 .social-icons li {
                                font-size: 26px;
                            }

                            #footer-column-footer-center-column3 #footer-blocks-column-1552499043747.footer-blocks-wrapper .footer-block .caption {
                            }

                            #footer-column-footer-center-column3 #footer-blocks-column-1552499043747.footer-blocks-wrapper .footer-block .content {
                            }

                            #footer-column-footer-center-column3 #footer-blocks-column-1552499043747.footer-blocks-wrapper .cell1 . {
                                color: ;
                            }

                            #footer-column-footer-center-column3 #footer-blocks-column-1552499043747.footer-blocks-wrapper .cell2 . {
                                color: ;
                            }

                            #footer-column-footer-center-column3 #footer-blocks-column-1552499043747.footer-blocks-wrapper .cell3 . {
                                color: ;
                            }

                            #footer-column-footer-center-column3 .social-icons li {
                                font-size: 0px;
                            }

                            #footer-column-footer-center-column3 #footer-blocks-column-1489918366778.footer-blocks-wrapper .footer-block .caption {
                            }

                            #footer-column-footer-center-column3 #footer-blocks-column-1489918366778.footer-blocks-wrapper .footer-block .content {
                            }

                            #footer-column-footer-center-column3 #footer-blocks-column-1489918366778.footer-blocks-wrapper .cell1 . {
                                color: ;
                            }

                            #footer-column-footer-center-column3 #footer-blocks-column-1489918366778.footer-blocks-wrapper .cell2 . {
                                color: ;
                            }

                            #footer-column-footer-center-column3 #footer-blocks-column-1489918366778.footer-blocks-wrapper .cell3 . {
                                color: ;
                            }</style>
                        <div id="footer-column-footer-center-column3" data-_class="col-sm-3" class=""
                             data-section-id="footer-center-column3" data-section-type="footer-column-1">

                            <style>
                                .footer #social-icons-1552499043747.social-icons li {
                                    font-size: 26px;
                                }
                            </style>

                            <div class="social_icon_wrapper footer-accordion">
                                <h4 class="title footer-accordion-heading ">
                                    <span>Follow Us</span>
                                    <i class="fa fa-plus-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" style="width: 12px;">
                                            <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" style="width: 12px;">
                                            <path d="M0 10h24v4h-24z"/>
                                        </svg>
                                    </i>
                                </h4>
                                <div class="strip-line "></div>
                                <ul class="social-icons footer-accordion-content"
                                    id="social-icons-1552499043747">
                                    <li><a href="https://twitter.com/cannary_can"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="https://www.facebook.com/cannarypackaging/"><i
                                            class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.instagram.com/cannary_com/"><i
                                            class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <div class="linklist footer-accordion">
                                <h4 class="title footer-accordion-heading">
                                    <span>Support</span>
                                    <i class="fa fa-plus-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" style="width: 12px;">
                                            <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" style="width: 12px;">
                                            <path d="M0 10h24v4h-24z"/>
                                        </svg>
                                    </i>
                                </h4>
                                <div class="strip-line"></div>
                                <div class="clearfix footer-accordion-content">
                                    <ul>
                                        <li><a href="{:url('index/contact/index')}">Contact Us</a></li>
                                        <li><a href="{:url('index/pages/terms')}">Term and Conditions</a></li>
                                        <li><a href="{:url('index/pages/privacy')}">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="shopify-section-footer-center-column4"
                         class="shopify-section index-section section-wrapper">
                        <style>
                            #footer-column-footer-center-column4 .social-icons li {
                                font-size: 0px;
                            }

                            #footer-column-footer-center-column4 #footer-blocks-column-1552496543542.footer-blocks-wrapper .footer-block .caption {
                            }

                            #footer-column-footer-center-column4 #footer-blocks-column-1552496543542.footer-blocks-wrapper .footer-block .content {
                            }

                            #footer-column-footer-center-column4 #footer-blocks-column-1552496543542.footer-blocks-wrapper .cell1 . {
                                color: ;
                            }

                            #footer-column-footer-center-column4 #footer-blocks-column-1552496543542.footer-blocks-wrapper .cell2 . {
                                color: ;
                            }

                            #footer-column-footer-center-column4 #footer-blocks-column-1552496543542.footer-blocks-wrapper .cell3 . {
                                color: ;
                            }</style>
                        <div id="footer-column-footer-center-column4" data-_class="col-sm-3" class=""
                             data-section-id="footer-center-column4" data-section-type="footer-column-1">
                            <div class="linklist footer-accordion">
                                <h4 class="title footer-accordion-heading">
                                    <span>Popular Tags</span>
                                    <i class="fa fa-plus-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" style="width: 12px;">
                                            <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" style="width: 12px;">
                                            <path d="M0 10h24v4h-24z"/>
                                        </svg>
                                    </i>
                                </h4>
                                <div class="strip-line"></div>
                                <div class="clearfix footer-accordion-content">
                                    <ul>
                                        <li><a href="/collections/avd">AVD®</a></li>
                                        <li><a href="/collections/ccell/Batteries">Batteries</a></li>
                                        <li><a href="/collections/ccell/Cartridges">Cartridges</a></li>
                                        <li><a href="/collections/ccell">CCELL®</a></li>
                                        <li><a href="/collections/child-resistant-packaging">Child Resistant Packaging</a></li>
                                        <li><a href="/collections/flower-packaging">Flower Packaging</a></li>
                                        <li><a href="/collections/terpenes/Indica">Indica</a></li>
                                        <li><a href="/collections/ccell/Palm">Palm</a></li>
                                        <li><a href="/collections/ccell/Silo">Silo</a></li>
                                        <li><a href="/collections/terpenes-1">Terpenes</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="shopify-section-footer-bottom" class="shopify-section index-section section-wrapper row">
                    <style>
                        .footer .container > .row > div#footer-bottom-footer-bottom:before {
                            display: none;
                        }
                    </style>
                    <div id="footer-bottom-footer-bottom" class="col-sm-12" data-section-id="footer-bottom" data-section-type="footer-bottom"></div>
                </div>
                <div class="klaviyo-form-Nq7j7c"></div>
                <div id="shopify-section-footer-copyright"
                     class="shopify-section index-section section-wrapper copyright row">
                    <div id="footer-copyright" class="col-sm-12 text-left" data-section-id="footer-copyright"
                         data-section-type="footer-copyright">
                        <div>Copyright © 2018, Cannary. All Rights Reserved.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>