<!DOCTYPE html>
<html lang="en" class="responsive"><!--<![endif]-->
<head>
    <meta name="google-site-verification" content="AG00rgkhIBpPbGftFDPVIAsO_IZMUiLHxcZFAIVMzr0" />
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]--><meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="canonical" href="https://cannary.com/" />
    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0033/8519/6642/t/28/assets/favicon.png?18308" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="//cdn.shopify.com/s/files/1/0033/8519/6642/t/28/assets/iphone_icon.png?18308" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//cdn.shopify.com/s/files/1/0033/8519/6642/t/28/assets/iphone_icon_retina.png?18308" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//cdn.shopify.com/s/files/1/0033/8519/6642/t/28/assets/ipad_icon.png?18308" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//cdn.shopify.com/s/files/1/0033/8519/6642/t/28/assets/ipad_icon_retina.png?18308" />
    <meta name="description" content="Authorized Canadian AVD® Distributor, Custom Cannabis Packaging Solutions, True Terpenes. Compliant Packaging Experts." />
    <title>Cannary | Wholesale Cannabis Packaging | AVD® Distributor</title>
    <link href="//fonts.googleapis.com/css?family=Lato:300italic,400italic,500italic,600italic,700italic,800italic,100,200,300,400,500,600,700,800&subset=cyrillic-ext,greek-ext,latin,latin-ext,cyrillic,greek,vietnamese" rel='stylesheet' type='text/css' />
    <!-- /snippets/social-meta-tags.liquid -->
    <meta property="og:site_name" content="Cannary">
    <meta property="og:url" content="https://cannary.com/">
    <meta property="og:title" content="Cannary | Wholesale Cannabis Packaging | AVD® Distributor">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Authorized Canadian AVD® Distributor, Custom Cannabis Packaging Solutions, True Terpenes. Compliant Packaging Experts.">
    <meta property="og:image" content="http://cdn.shopify.com/s/files/1/0033/8519/6642/t/28/assets/home-page.png?18308">
    <meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0033/8519/6642/t/28/assets/home-page.png?18308">
    <meta name="twitter:site" content="@">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Cannary | Wholesale Cannabis Packaging | AVD® Distributor">
    <meta name="twitter:description" content="Authorized Canadian AVD® Distributor, Custom Cannabis Packaging Solutions, True Terpenes. Compliant Packaging Experts.">
    <link href="__HOME__/css/rt.vendors.scss.css?18308" rel="stylesheet" type="text/css" media="all" />
    <link href="__HOME__/css/rt.application.scss.css?18308" rel="stylesheet" type="text/css" media="all" />
    <link href="__HOME__/css/rt.custom.scss.css?18308" rel="stylesheet" type="text/css" media="all" />
    <link href="__HOME__/css/custom_code.scss.css?18308" rel="stylesheet" type="text/css" media="all" />
    <script>
        window.sidebar=!1,
            window.template="index",
            window.rtl=!1,
            window.popup_mailchimp_expire=0,
            window.popup_mailchimp_period=1,
            window.popup_mailchimp_delay=200,
            window.popup_mailchimp_close=0,
            window.products={},window.product_image_zoom=0,
            window.asset_url="//cdn.shopify.com/s/files/1/0033/8519/6642/t/28/assets/?&18308",
            window.swatch_color=false,
            window.swatch_size=true,
            window.shopping_cart_type="ajax_popup",
            window.contact_map_address="9-1415 Hunter Court Kelowna, BC Canada",
            window.money_format="<span class=money>${{amount}}</span>",
            window.show_multiple_currencies=true,window.shopCurrency="CAD",
            window.defaultCurrency="USD",
            window.cookieCurrency="",
            window.jsonCurrency="${{amount}}",
            window.jsonMoney="${{amount}}",
            window.formatCurrency="money_with_currency_format",window.all_results_text="See all results",
            window.megamenu_active=!1,
            window.megamenu_hover=!1,
            window.megamenu_responsive=!1,
            window.megamenu_responsive_design="yes",
            window.fixed_header="header",
            window.compare="",
            window.pitem_row="2",
            window.swatch_color="",
            window.swatch_size="1",
            window.swatch_color_advanced="";
        window.hn_use = true;
        window.hn_once = false;
        window.social_instagram = true;
        var theme = {
            apps: {
                details: "Details",
                buyNow: "Buy now",
            },
            strings: {
                addToCart: "Add to cart",
                soldOut: "Out of stock",
                unavailable: "Unavailable",
                inStock: "In stock",
                available: "Available: ",
                outStock: "Out of stock",
                sale: "Sale",
                btn_select_options: "Select options",
                btn_add_to_cart: "Add to cart"
            },
            settings: {
                moneyFormat:"\u003cspan class=money\u003e${{amount}}\u003c\/span\u003e",
            },
            inventory: false,
            sale_percentages: null,
            asset_url: "\/\/cdn.shopify.com\/s\/files\/1\/0033\/8519\/6642\/t\/28\/assets\/?\u002618308"
        }

    </script>
    <script src="__HOME__/js/jquery-2.1.4.min.js?18308" defer="defer"></script>
    <script type="text/javascript">
        var weketingShop = {
            shop:"cannarycustompackaging.myshopify.com",
            moneyFormat:"\u003cspan class=money\u003e${{amount}}\u003c\/span\u003e",};
    </script>
    <script>window.performance.mark('shopify.content_for_header.start');</script>
    <meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/3385196642/digital_wallets/dialog">
    <script id="shopify-features" type="application/json">{"accessToken":"ceb4f94b7a99477b12579b169e912d54","betas":[],"domain":"cannary.com","shopId":3385196642,"smart_payment_buttons_url":"https:\/\/cdn.shopifycloud.com\/payment-sheet\/assets\/latest\/spb.en.js"}</script>
    <script>
        var Shopify = Shopify || {};
        Shopify.shop = "cannarycustompackaging.myshopify.com";
        Shopify.currency = {"active":"CAD","rate":"1.0"};
        Shopify.theme = {"name":"Fastor-default-v4-4 - quickview working","id":44613632098,"theme_store_id":null,"role":"main"};
        Shopify.theme.handle = "null";
        Shopify.theme.style = {"id":null,"handle":null};</script>
    <script>(function() {
        function asyncLoad() {
            var urls = ["\/\/secure.apps.shappify.com\/apps\/csp\/customer_pricing.php?shop=cannarycustompackaging.myshopify.com","https:\/\/cp.boldapps.net\/csp_install_check.js?shop=cannarycustompackaging.myshopify.com","\/\/cdn.ywxi.net\/js\/partner-shopify.js?shop=cannarycustompackaging.myshopify.com","\/\/productreviews.shopifycdn.com\/assets\/v4\/spr.js?shop=cannarycustompackaging.myshopify.com","https:\/\/static.klaviyo.com\/onsite\/js\/klaviyo.js?company_id=QifCti\u0026shop=cannarycustompackaging.myshopify.com","\/\/www.powr.io\/powr.js?powr-token=cannarycustompackaging.myshopify.com\u0026external-type=shopify\u0026shop=cannarycustompackaging.myshopify.com"];
            for (var i = 0; i < urls.length; i++) {
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = urls[i];
                var x = document.getElementsByTagName('script')[0];
                x.parentNode.insertBefore(s, x);
            }
        };
        if(window.attachEvent) {
            window.attachEvent('onload', asyncLoad);
        } else {
            window.addEventListener('load', asyncLoad, false);
        }
    })();</script>
    <script id="__st">var __st={"a":3385196642,"offset":-25200,"reqid":"fdd35b97-88e7-4ed0-ae5d-b4762694c4a8","pageurl":"cannary.com\/","u":"ef297f093ead","p":"home"};</script>
    <script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
    <script>
        window.Shopify = window.Shopify || {};
        window.Shopify.Checkout = window.Shopify.Checkout || {};
        window.Shopify.Checkout.apiHost = "cannarycustompackaging.myshopify.com";</script>
    <script>
        window.ShopifyAnalytics = window.ShopifyAnalytics || {};
        window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
        window.ShopifyAnalytics.meta.currency = 'CAD';
        var meta = {"page":{"pageType":"home"}};
        for (var attr in meta) {
            window.ShopifyAnalytics.meta[attr] = meta[attr];
        }</script>
    <script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {};</script>
    <script class="analytics">
        (window.gaDevIds=window.gaDevIds||[]).push('BwiEti');
        (function () {
            var customDocumentWrite = function(content) {
                var jquery = null;

                if (window.jQuery) {
                    jquery = window.jQuery;
                } else if (window.Checkout && window.Checkout.$) {
                    jquery = window.Checkout.$;
                }

                if (jquery) {
                    jquery('body').append(content);
                }
            };

            var isDuplicatedThankYouPageView = function() {
                return document.cookie.indexOf('loggedConversion=' + window.location.pathname) !== -1;
            }

            var setCookieIfThankYouPage = function() {
                if (window.location.pathname.indexOf('/checkouts') !== -1 &&
                    window.location.pathname.indexOf('/thank_you') !== -1) {

                    var twoMonthsFromNow = new Date(Date.now());
                    twoMonthsFromNow.setMonth(twoMonthsFromNow.getMonth() + 2);

                    document.cookie = 'loggedConversion=' + window.location.pathname + '; expires=' + twoMonthsFromNow;
                }
            }

            var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
            if (trekkie.integrations) {
                return;
            }
            trekkie.methods = [
                'identify',
                'page',
                'ready',
                'track',
                'trackForm',
                'trackLink'
            ];
            trekkie.factory = function(method) {
                return function() {
                    var args = Array.prototype.slice.call(arguments);
                    args.unshift(method);
                    trekkie.push(args);
                    return trekkie;
                };
            };
            for (var i = 0; i < trekkie.methods.length; i++) {
                var key = trekkie.methods[i];
                trekkie[key] = trekkie.factory(key);
            }
            trekkie.load = function(config) {
                trekkie.config = config;
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.onerror = function(e) {
                    (new Image()).src = '//v.shopify.com/internal_errors/track?error=trekkie_load';
                };
                script.async = true;
                script.src = 'https://cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min.js?v=2017.09.05.1';
                var first = document.getElementsByTagName('script')[0];
                first.parentNode.insertBefore(script, first);
            };
            trekkie.load(
                {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":3385196642,"isMerchantRequest":null,"themeId":44613632098,"themeCityHash":2464889265368532870,"contentLanguage":"en"}},"Performance":{"navigationTimingApiMeasurementsEnabled":true,"navigationTimingApiMeasurementsSampleRate":1.0},"Google Analytics":{"trackingId":"UA-128962104-1","domain":"auto","siteSpeedSampleRate":"10","enhancedEcommerce":true,"doubleClick":true,"includeSearch":true},"Session Attribution":{}}
            );

            var loaded = false;
            trekkie.ready(function() {
                if (loaded) return;
                loaded = true;

                window.ShopifyAnalytics.lib = window.trekkie;

                ga('require', 'linker');
                function addListener(element, type, callback) {
                    if (element.addEventListener) {
                        element.addEventListener(type, callback);
                    }
                    else if (element.attachEvent) {
                        element.attachEvent('on' + type, callback);
                    }
                }
                function decorate(event) {
                    event = event || window.event;
                    var target = event.target || event.srcElement;
                    if (target && (target.getAttribute('action') || target.getAttribute('href'))) {
                        ga(function (tracker) {
                            var linkerParam = tracker.get('linkerParam');
                            document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
                        });
                    }
                }
                addListener(window, 'load', function(){
                    for (var i=0; i < document.forms.length; i++) {
                        var action = document.forms[i].getAttribute('action');
                        if(action && action.indexOf('/cart') >= 0) {
                            addListener(document.forms[i], 'submit', decorate);
                        }
                    }
                    for (var i=0; i < document.links.length; i++) {
                        var href = document.links[i].getAttribute('href');
                        if(href && href.indexOf('/checkout') >= 0) {
                            addListener(document.links[i], 'click', decorate);
                        }
                    }
                });


                var originalDocumentWrite = document.write;
                document.write = customDocumentWrite;
                try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
                document.write = originalDocumentWrite;

                if (!isDuplicatedThankYouPageView()) {
                    setCookieIfThankYouPage();

                    window.ShopifyAnalytics.lib.page(
                        null,
                        {"pageType":"home"}
                    );


                }
            });


            var eventsListenerScript = document.createElement('script');
            eventsListenerScript.async = true;
            eventsListenerScript.src = "//cdn.shopify.com/s/assets/shop_events_listener-acf771159f9849ef6e5265782c99efe8b99406214c96a4373224ecafe285d7bb.js";
            document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);

        })();</script>
    <script integrity="sha256-ZGMHgi9G7WU+Z7WiP2suSn84yzoN83sGf9nMWJhVHAw=" defer="defer" src="//cdn.shopify.com/s/assets/storefront/express_buttons-646307822f46ed653e67b5a23f6b2e4a7f38cb3a0df37b067fd9cc5898551c0c.js" crossorigin="anonymous"></script>
    <script integrity="sha256-6HOSr+Kf4wcoL05qrRLLS8wq/v1rf+vwtw7f0xX5aEw=" defer="defer" src="//cdn.shopify.com/s/assets/storefront/features-e87392afe29fe307282f4e6aad12cb4bcc2afefd6b7febf0b70edfd315f9684c.js" crossorigin="anonymous"></script>
    <script defer="defer" src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-99e991855b3d8ddc69e625c68ab0579dd9927b611c2ec4943d396c72e3af0849.js"></script>

    <script>window.performance.mark('shopify.content_for_header.end');</script>
    <script>
        window.BOLD = window.BOLD || {};
        window.BOLD.common = window.BOLD.common || {};
        window.BOLD.common.Shopify = window.BOLD.common.Shopify || {};
        window.BOLD.common.Shopify.shop = {
            domain: 'cannary.com',
            permanent_domain: 'cannarycustompackaging.myshopify.com',
            url: 'https://cannary.com',
            secure_url: 'https://cannary.com',
            money_format: "\u003cspan class=money\u003e${{amount}}\u003c\/span\u003e",
            currency: "CAD"
        };
        window.BOLD.common.Shopify.customer = {
            id: null,
            tags: null,
        };
        window.BOLD.common.Shopify.cart = {"token":"88a5b0da5ac198b10bbc73df41e4018a","note":null,"attributes":{},"original_total_price":0,"total_price":0,"total_discount":0,"total_weight":0.0,"item_count":0,"items":[],"requires_shipping":false,"currency":"CAD","items_subtotal_price":0,"cart_level_discount_applications":[]};
        window.BOLD.common.template = 'index';window.BOLD.common.Shopify.formatMoney = function(money, format) {
            function n(t, e) {
                return "undefined" == typeof t ? e : t
            }
            function r(t, e, r, i) {
                if (e = n(e, 2),
                    r = n(r, ","),
                    i = n(i, "."),
                isNaN(t) || null == t)
                    return 0;
                t = (t / 100).toFixed(e);
                var o = t.split(".")
                    , a = o[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1" + r)
                    , s = o[1] ? i + o[1] : "";
                return a + s
            }
            "string" == typeof money && (money = money.replace(".", ""));
            var i = ""
                , o = /\{\{\s*(\w+)\s*\}\}/
                , a = format || window.BOLD.common.Shopify.shop.money_format || window.Shopify.money_format || "$ {{ amount }}";
            switch (a.match(o)[1]) {
                case "amount":
                    i = r(money, 2, ",", ".");
                    break;
                case "amount_no_decimals":
                    i = r(money, 0, ",", ".");
                    break;
                case "amount_with_comma_separator":
                    i = r(money, 2, ".", ",");
                    break;
                case "amount_no_decimals_with_comma_separator":
                    i = r(money, 0, ".", ",");
                    break;
                case "amount_with_space_separator":
                    i = r(money, 2, " ", ",");
                    break;
                case "amount_no_decimals_with_space_separator":
                    i = r(money, 0, " ", ",");
                    break;
                case "amount_with_apostrophe_separator":
                    i = r(money, 2, "'", ".");
                    break;
            }
            return a.replace(o, i);
        };
        window.BOLD.common.Shopify.saveProduct = function (handle, product, productData) {
            if (typeof handle === 'string' && typeof window.BOLD.common.Shopify.products[handle] === 'undefined') {
                if (typeof product === 'number') {
                    window.BOLD.common.Shopify.handles[product] = handle;
                    product = { id: product, product: productData };
                }
                window.BOLD.common.Shopify.products[handle] = product;
            }
        };
        window.BOLD.common.Shopify.saveVariant = function (variant_id, variant) {
            if (typeof variant_id === 'number' && typeof window.BOLD.common.Shopify.variants[variant_id] === 'undefined') {
                window.BOLD.common.Shopify.variants[variant_id] = variant;
            }
        };window.BOLD.common.Shopify.products = window.BOLD.common.Shopify.products || {};
        window.BOLD.common.Shopify.variants = window.BOLD.common.Shopify.variants || {};
        window.BOLD.common.Shopify.handles = window.BOLD.common.Shopify.handles || {};window.BOLD.common.Shopify.saveProduct(null, null, null);window.BOLD.apps_installed = {"Customer Pricing":2,"Quickbooks":1} || {};window.BOLD.common.Shopify.metafields = window.BOLD.common.Shopify.metafields || {};window.BOLD.common.Shopify.metafields["bold_rp"] = {};window.BOLD.common.Shopify.metafields["bold_csp_defaults"] = {};window.BOLD.common.cacheParams = window.BOLD.common.cacheParams || {};
        window.BOLD.common.cacheParams.csp = 1556735059;

    </script><script src="https://cp.boldapps.net/js/csp.js" type="text/javascript"></script>
    <script>
        function cspHandleCart(cart){
            return new Promise(function(resolve, reject){
                if(cart == undefined || cart.items == undefined){
                    if(typeof shappify_csp_main == 'function'){
                        shappify_csp_main(resolve);
                    } else {
                        jQuery.getJSON('/cart.js', resolve);
                    }
                } else {
                    if(typeof shappify_csp_got_cart == 'function') {
                        shappify_csp_got_cart(cart, function(cart){
                            resolve(cart);
                        });
                    } else {
                        resolve(cart);
                    }
                }
            });
        }
    </script>
    <script>

        function shappify_update_message_x(form, id) {

            var form = form || document.documentElement.querySelector("form[action='/cart/add']");
            var shapp_var_id = id || (form && form.id && form.id.value) || (form && form.querySelector("[name='id']:checked") && form.querySelector("[name='id']:checked").value) || (form && form.querySelector("[name='id']") && form.querySelector("[name='id']:checked").value);

            var shapp_message = shapp_var_id && document.querySelector("#variant_html_" + shapp_var_id) && document.querySelector("#variant_html_" + shapp_var_id).innerHTML;

            if(shapp_message){
                var shapp_message_container = form.querySelector(".shappify-qty-msg");
                if(shapp_message_container){
                    shapp_message_container.innerHTML = shapp_message;
                } else {
                    shapp_message_container = document.createElement("div");
                    shapp_message_container && (shapp_message_container.className = "shappify-qty-msg");
                    shapp_message_container && (shapp_message_container.innerHTML = shapp_message);
                    form.insertAdjacentElement("afterbegin", shapp_message_container);
                }
            }
        }

        document.addEventListener("change", function(e){
            var target = e.target;
            if(target.tagName == "SELECT" && target.closest("form[action='/cart/add']")) {
                shappify_update_message_x(target.closest("form[action='/cart/add']"));
            }
        });
    </script>
    <script type="text/javascript">
        var weketingShop = {
            shop:"cannarycustompackaging.myshopify.com",
            moneyFormat:"\u003cspan class=money\u003e${{amount}}\u003c\/span\u003e",};
    </script>
    <script src="__HOME__/js/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="__HOME__/js/price-config.js?18308" defer="defer"></script>
</head>