<div  class="megamenu-background">
    <div class="">
        <div class="overflow-megamenu container">
            <div class="row mega-menu-modules"><div id="shopify-section-header-menu1" class="shopify-section index-section section-wrapper hidden"></div><div id="shopify-section-header-menu2" class="shopify-section index-section section-wrapper hidden">
                <div id="megamenu_2"
                     data-order=""
                     class="section-megamenu-content container-megamenu  container  horizontal"
                     data-_megamenu_id="megamenu_2"
                     data-_mmenu_sub_ct_animate_time ="300"
                     data-section-id="header-menu2" data-section-type="mega-menu"
                     data-menu_width_class="col-md-12"
                >
                    <div  id="megamenu-header-menu2" class="mmenu-content-center"><div class="megaMenuToggle">
                        <div class="megamenuToogle-wrapper">
                            <div class="megamenuToogle-pattern">
                                <div class="container">
                                    <div><span></span><span></span><span></span></div>

                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- 导航栏-->
                        <div class="megamenu-wrapper">
                            <div class="megamenu-pattern">
                                <div class="container">
                                    <ul class="megamenu fade">
                                        <li class="home">
                                            <a href="/">
                                                <i class="fa fa-home"></i>
                                            </a>
                                        </li>

                                        <li class=' with-sub-menu hover'>
                                            <p class='close-menu'></p>
                                            <p class='open-menu'></p>
                                            <a href="{:url('vapo/index')}" class='clearfix'><span>
                                             <strong><span class="raw-title">Concentrate packaging</span>
                                             <span class="megamenu-label" style="background:!important;color:#ed0000;">
                                             <span style="background:!important;border-color:"></span>HOT</span></strong>
                                           </span></a>

                                            <div class="sub-menu " style="width: 200px; right: 0px;">
                                                <div class="content" style="background-color:#ffffff;padding:9px;"><p class="arrow" style="left: 51.9531px;"></p>
                                                    <div class="row"><!-- check next next item is sub or not -->
                                                        <div class="col-rb-100 col-rbm-50" style="background-color:#ffffff;padding:5px;"><div class="row"><div class="col-sm-12 hover-menu">
                                                            <div class="menu">
                                                                <ul>
                                                                    <li><a href="" class="main-menu ">FEP Sheet : 4x4 FEP SHEET</a></li>
                                                                    <li><a href="" class="main-menu ">FEP Sheet : 5X5 FEP SHEET</a></li>
                                                                    <li><a href="" class="main-menu ">PTFE Sheet</a></li>
                                                                    <li><a href="" class="main-menu ">Coin Envelope</a></li>
                                                                    <li><a href="" class="main-menu ">Plastic Storage case</a></li>
                                                                    <li><a href="" class="main-menu ">F-bag</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        <!-- end --></div>
                                                </div>
                                            </div>

                                        </li>
                                        <li class=' with-sub-menu hover'>
                                            <p class='close-menu'></p>
                                            <p class='open-menu'></p>
                                            <a href="{:url('ter/index')}" class='clearfix'>
                                                <span>
                                                    <strong><span class="raw-title">Extraction processing	: Nylon filter bag</span></strong></span>
                                            </a>

                                        </li>
                                        <li class=' with-sub-menu hover'>
                                            <p class='close-menu'></p>
                                            <p class='open-menu'></p>
                                            <a href="{:url('pack/index')}" class='clearfix'>
                                                <span><strong><span class="raw-title">Flower Packaging	:  Barrier bag</span></strong></span>
                                            </a>
                                        </li>
                                        <li class=' with-sub-menu hover'>
                                            <p class='close-menu'></p>
                                            <p class='open-menu'></p>
                                            <a href="{:url('acc/index')}" class='clearfix'><span>
                                            <strong><span class="raw-title">Vaporize</span>
                                            <span class="megamenu-label" style="background:!important;color:#2a91d2;">
                                            <span style="background:!important;border-color:"></span>NEW</span></strong></span>
                                            </a>

                                            <div class="sub-menu " style="width: 200px; right: 0px;">
                                                <div class="content" style="background-color:#ffffff;padding:9px;"><p class="arrow" style="left: 51.9531px;"></p>
                                                    <div class="row"><!-- check next next item is sub or not -->
                                                        <div class="col-rb-100 col-rbm-50" style="background-color:#ffffff;padding:5px;"><div class="row"><div class="col-sm-12 hover-menu">
                                                            <div class="menu">
                                                                <ul>
                                                                    <li><a href="" class="main-menu ">0.5ml </a></li>
                                                                    <li><a href="" class="main-menu ">1ml </a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        <!-- end --></div>
                                                </div>
                                            </div>

                                        </li>

                                        <li class=' with-sub-menu hover'>
                                            <p class='close-menu'></p>
                                            <p class='open-menu'></p>
                                            <a href="{:url('contact/index')}" class='clearfix'>
                                                <span><strong><span class="raw-title">Vaporize packaging</span></strong></span>
                                            </a>

                                        </li>

                                        <!--
                                        <li class=''>
                                            <p class='close-menu'></p>
                                            <p class='open-menu'></p>
                                            <a href='https://www.cannarycustombranding.com/'
                                               class='clearfix'><span>
                        <strong><span class="raw-title">Custom Packaging</span></strong>
                        </span>
                                            </a>
                                            <div class="sub-menu full-width-sub-menu"
                                                 style="width:900px;">
                                                <div class="content"
                                                     style="background-color:#ffffff;padding:21px;">
                                                    <p class="arrow"></p>
                                                    <div class="row">
                                                      </div>
                                                </div>
                                            </div>
                                        </li>
                                        -->
                                        <li class=' with-sub-menu hover'>
                                            <p class='close-menu'></p>
                                            <p class='open-menu'></p>
                                            <a href="{:url('contact/index')}" class='clearfix'>
                                                <span><strong><span class="raw-title">Contact</span></strong></span>
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- 导航栏-->
                    </div>
                </div>
                <style type="text/css">
                    #megamenu_2 ul.megamenu > li > .sub-menu > .content,
                    #megamenu_2 ul.megamenu > li > a > .arrow:after {
                        -webkit-transition: 	all 300ms ease-out !important;
                        -moz-transition: 		all 300ms ease-out !important;
                        -o-transition: 			all 300ms ease-out !important;
                        -ms-transition: 		all 300ms ease-out !important;
                        transition: 			all 300ms ease-out !important;}
                </style>
            </div>
            </div>
        </div>
    </div>
</div></div>


