<div id="shopify-section-preface-footer" class="shopify-section index-section section-wrapper">
    <style>
        #preface-footer-preface-footer #footer-blocks-top-1553017966290.footer-blocks-top .footer-block .caption {
            font-weight: 100 !important;
        }

        #preface-footer-preface-footer #footer-blocks-top-1553017966290.footer-blocks-top .footer-block .content {
            font-weight: 100 !important;
        }

        #preface-footer-preface-footer #footer-blocks-top-1553017966290.footer-blocks-top .cell1 .default {
            color: #d42f37;
        }

        #preface-footer-preface-footer #footer-blocks-top-1553017966290.footer-blocks-top .cell2 .default {
            color: #d42f37;
        }

        #preface-footer-preface-footer #footer-blocks-bottom-1553017966290.footer-blocks-bottom .footer-block .caption {
            font-weight: 100 !important;
        }

        #preface-footer-preface-footer #footer-blocks-bottom-1553017966290.footer-blocks-bottom .footer-block .content {
            font-weight: 100 !important;
        }

        #preface-footer-preface-footer #footer-blocks-bottom-1553017966290.footer-blocks-bottom .cell1 .default {
            color: #d42f37;
        }

        #preface-footer-preface-footer #footer-blocks-bottom-1553017966290.footer-blocks-bottom .cell2 .default {
            color: #d42f37;
        }

        #preface-footer-preface-footer #footer-blocks-bottom-1553017966290.footer-blocks-bottom .cell3 .default {
            color: #d42f37;
        }</style>
    <div id="preface-footer-preface-footer" class="custom-footer full-width" data-section-id="preface-footer" data-section-type="preface-footer">
        <div class="background-custom-footer"></div>
        <div class="background">
            <div class="shadow"></div>
            <div class="pattern">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="footer-blocks-bottom-1553017966290"
                                 class="row footer-blocks-wrapper footer-blocks-bottom">
                                <div class="col-sm-4 cell1 text-center">
                                    <div class="footer-block"><img
                                            src="//cdn.shopify.com/s/files/1/0033/8519/6642/files/Mail-OR.png?v=1553022013"
                                            alt=""/>
                                        <div class="footer-block-content"><p class="content"><b>info@cannary.com<br><i>Contact
                                            us for any questions</i></b></p></div>
                                    </div>
                                </div>
                                <div class="col-sm-4 cell2 text-center">
                                    <div class="footer-block"><img
                                            src="//cdn.shopify.com/s/files/1/0033/8519/6642/files/Phone-OR.png?v=1553022028"
                                            alt=""/>
                                        <div class="footer-block-content"><p class="content">
                                            <b>1-844-897-3387<br><i>Mon-Fri 9:00am - 5:00pm PST</i></b></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 cell3 text-center">
                                    <div class="footer-block"><img
                                            src="//cdn.shopify.com/s/files/1/0033/8519/6642/files/Address-OR.png?v=1553021989"
                                            alt=""/>
                                        <div class="footer-block-content"><p class="content"><b>9-1415 Hunter
                                            Court<br><i>Kelowna, BC Canada<br>V1X 6E6</i></b></p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>