{extend name="public:base" /}
{block name="body"}
<div class="layui-card">
	<div class="layui-card-body">
		<a href="{:url('admin/ad/add_category')}" class="layui-btn"><i class="fa fa-plus-circle"></i> 添加分类</a>
		<table class="layui-table layui-form">
			<thead>
			<tr>
				<th>ID</th>
				<th>分类名称</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			{foreach name="list" item="v" empty="$empty"}
			<tr>
				<td>{$v.id}</td>
				<td>{$v.category_name}</td>
				<td>
					<a href="{:url('admin/ad/edit_category', ['id' => $v.id])}" class="layui-btn layui-btn-xs layui-btn-normal"><i class="fa fa-edit"></i> 编辑</a>
					<a href="{:url('admin/ad/del_category', ['id' => $v.id])}" class="layui-btn layui-btn-xs layui-btn-danger ajax-delete"><i class="fa fa-trash-o"></i> 删除</a>
				</td>
			</tr>
			{/foreach}
			</tbody>
		</table>
		<div class="page">{$list->render()}</div>
	</div>
</div>
{/block}
